@import "../../styles/constants";
@import "@picocss/pico/scss/colors";

.landing-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  header {
    h1 {
      padding-top: 0.25em;
      margin-block: 0;
      line-height: 1;
      font-size: $text60;
      font-style: italic;

      @media screen and (min-width: $lg) {
        font-size: $text96;
      }
    }

    h6 {
      font-size: $text20;
      font-weight: normal;

      @media screen and (min-width: $lg) {
        font-size: $text36;
      }
    }
  }

  header, footer {
    text-align: center;
  }

  main {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: min(calc(100% - 20px), $md);
    margin: 0 auto;

    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto 0;

      &.menu {
        a:not(:first-child) {
          margin-block-start: $spacing12;

          @media screen and (min-width: $md) {
            margin-block-start: $spacing16;
          }
        }

        button {
          font-size: $text20;
          width: 100%;

          @media screen and (min-width: $md) {
            font-size: $text30;
          }
        }
      }

      &.rules {
        text-align: justify;
        hyphens: auto;

        @media screen and (min-width: $md) {
          padding: $spacing16 $spacing32;
          border: 3px solid $violet-500;
          border-radius: 20px;
        }
      }
    }
  }

  footer {
    padding-block: $spacing4;
    font-size: $text16;
    background-color: $slate-950;
  }
}