@import "../../styles/constants";
@import "../../styles/mixins";
@import "@picocss/pico/scss/colors";

.landing-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;

  .message {
    width: 100%;
    height: 1.25em;
    color: black;
    text-align: center;
    background-color: $yellow-400;
  }

  header {
    h1 {
      padding-top: 0.25em;
      margin-block: 0;
      line-height: 1;
      font-size: $text60;
      font-style: italic;

      @media screen and (min-width: $lg) {
        font-size: $text96;
      }
    }

    h6 {
      font-size: $text20;
      font-weight: normal;

      @media screen and (min-width: $lg) {
        font-size: $text36;
      }
    }
  }

  header, footer {
    text-align: center;
  }

  main {
    flex-grow: 1;

    display: flex;
    justify-content: space-around;
    max-width: min(calc(100% - 20px), $md);
    margin: 0 auto;

    @media screen and ((orientation: portrait) or (min-height: $sm)) {
      flex-direction: column;
    }

    section {
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and ((orientation: portrait) or (min-height: $sm)) {
        width: revert;
        margin: auto 0;
      }

      &.menu {
        padding-block: $spacing4;

        .grid {
          display: flex;
          flex-direction: column;
          gap: $spacing8;

          @include media($md) {
            display: grid;
            gap: $spacing12;
            padding-block-start: $spacing12;
          }
        }

        :where(a, .grid):not(:first-child) {
          padding-block-start: $spacing8;

          @include media($md) {
            padding-block-start: $spacing12;
          }
        }

        .grid > a {
          padding-block-start: 0;
        }

        button, .grid {
          font-size: $text20;
          width: 100%;

          @media screen and (min-width: $md) {
            font-size: $text30;
          }
        }
      }

      &.rules {
        text-align: justify;
        hyphens: auto;
        padding-block-end: $spacing16;

        @include media($md) {
          padding-block-end: 0;
        }

        @include media($md) {
          padding: $spacing16 $spacing32;
          border: 3px solid $violet-500;
          border-radius: 20px;
        }

        h2 {
          margin-block-end: $spacing4;

          @include media($md) {
            margin-block-end: $spacing12;
          }
        }

        svg {
          height: 1em;
          margin-inline-start: $spacing4;
        }
      }
    }
  }

  footer {
    padding-block: $spacing4;
    font-size: $text16;
    background-color: $slate-950;

    > * + *::before {
      content: '•';
      margin-inline: $spacing8;
    }
  }

  .toast {
    background-color: $slate-800;
    color: var(--pico-color);
  }
}
