@import "@picocss/pico/scss/colors";
@import "../../styles/constants";
@import "../../styles/mixins";

.toast.cookie-toast {
  background-color: $slate-800;
  color: var(--pico-color);
  font-size: $text12;
  text-align: justify;
  hyphens: auto;

  @include media($md) {
    font-size: $text16;
  }

  svg {
    height: 0.9em;
    width: 0.9em;
  }

  a {
    white-space: nowrap;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: $spacing12;
    margin-block-start: 0.5em;

    button {
      font-size: $text12;
      height: 2em;
      padding: 0.25em 0.5em;

      @include media($md) {
        font-size: $text16;
      }
    }
  }
}
