@import "../../../styles/constants";
@import "../../../styles/mixins";

.cell {
  --icon-size: 70%;

  @include media($sm) {
    --icon-size: 80%;
  }

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  font-weight: 600;
  background-color: $cell-normal-color;
  container: cell-container / size;
  line-height: 0.75em;

  &.uncovered {
    background-color: $cell-uncovered-color;

    &.mine {
      background-color: $cell-uncovered-mine-color;
    }
  }

  &.mines- {
    &1 { color: $number-1-color; }
    &2 { color: $number-2-color; }
    &3 { color: $number-3-color; }
    &4 { color: $number-4-color; }
    &5 { color: $number-5-color; }
    &6 { color: $number-6-color; }
    &7 { color: $number-7-color; }
  }

  .mine-icon, .flag-icon {
    width: var(--icon-size);
    height: var(--icon-size);
  }

  .cell-content {
    font-size: 100cqh;
    margin-inline-start: 0.0625em;

    @include media($sm) {
      font-size: 85cqh;
    }
  }

  .cell-player-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;

    &.player {
      border: 15cqh solid;

      @include media($sm) {
        border: 10cqh solid;
      }

      @include player-color("border");
    }
  }

  .flag-icon.incorrect {
    position: absolute;
    animation: incorrect-flag 1s cubic-bezier(0.17, 0.67, 0.7, 0.67);
    animation-fill-mode: forwards;
    offset-path: path("M 0 0 C 6 -45 24.5 -25.5 23.875 -16");
    offset-rotate: 0deg;

    @include media($lg) {
      offset-path: path("M 0 0 C 9 -67.5 36.75 -38.25 35.8125 -24");
    }

    @include media($xxl) {
      offset-path: path("M 0 0 C 12 -90 49 -51 47.75 -32");
    }
  }

  .points-change {
    z-index: 2;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50%;
    animation: points-change 0.5s linear;
    animation-fill-mode: forwards;

    &.negative {
      animation-name: points-change-negative;
      animation-duration: 1s;
      top: calc(var(--cell-size) * -0.5);
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@keyframes incorrect-flag {
  from {
    offset-distance: 0;
  }

  85% {
    opacity: 100%;
  }

  to {
    opacity: 0;
    offset-distance: 100%;
    transform: rotate(190deg);
  }
}

@keyframes points-change {
  80% {
    opacity: 100%;
  }

  to {
    opacity: 0;
  }
}

@keyframes points-change-negative {
  90% {
    opacity: 100%;
  }

  to {
    top: calc(var(--cell-size) * -1.5);
    opacity: 0;
  }
}