@import "../../../styles/constants";

.cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  font-size: 20px;
  font-weight: 600;
  background-color: $cell-normal-color;

  &.uncovered {
    background-color: $cell-uncovered-color;

    &.mine {
      background-color: $cell-uncovered-mine-color;
    }
  }

  &.mines- {
    &1 { color: $number-1-color; }
    &2 { color: $number-2-color; }
    &3 { color: $number-3-color; }
    &4 { color: $number-4-color; }
    &5 { color: $number-5-color; }
    &6 { color: $number-6-color; }
    &7 { color: $number-7-color; }
  }

  .flag-icon {
    width: 100%;
    height: 100%;
  }

  .cell-player-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;

    &.player {
      border: 4px solid;

      &-red {
        border-color: $player-red;
      }

      &-green {
        border-color: $player-green;
      }

      &-blue {
        border-color: $player-blue;
      }

      &-yellow {
        border-color: $player-yellow;
      }
    }
  }
}
