@import '../../styles/constants';
@import '../../styles/mixins';
@import '@picocss/pico/scss/colors';

.private-game-lobby-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  margin: 0 auto;
  @include simple-animation(appear);

  &.disappearing {
    @include simple-animation(disappear);
  }

  h1 {
    margin-block-end: $spacing16;
    text-align: center;
    font-size: 1.5em;

    @media screen and ((orientation: portrait) or (min-height: $sm)) {
      margin-block-end: $spacing48;
      font-size: revert;
    }
  }

  .private-game-lobby {
    display: flex;
    gap: $spacing16;
    width: calc(100% - 20px);

    > div.board-size-container {
      flex-grow: 2;
    }

    @media screen and ((orientation: portrait) or (min-height: $sm)) {
      display: block;
      width: min(calc(100% - 20px), $sm);

      > div {
        display: contents;
      }
    }

    .players {
      width: 100%;
      margin-block-end: $spacing32;

      .player-list-wrapper {
        width: 100%;
      }
    }

    label {
      width: 100%;

      div[role=group] {
        width: 100%;
      }

      &.link-label button {
        width: 0;
        min-width: $spacing128;
        padding-inline: $spacing8;

        span.copied-icon {
          background: var(--pico-icon-checkbox) no-repeat center;
          display: inline-block;
          height: 80%;
          aspect-ratio: 1;
          vertical-align: text-bottom;
          margin-inline-end: $spacing8;
        }
      }
    }

    button {
      width: 100%;
    }
  }

  @include message-aside;
}
