@import "../../../styles/constants";

.contact-dialog {
  p {
    text-align: justify;
    hyphens: auto;
  }

  textarea {
    min-height: 20vh;
  }

  .spinner {
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    margin-inline-start: 1em;
    background: var(--pico-icon-loading) no-repeat center;
  }
}
