@import "../../styles/constants";
@import "../../styles/mixins";
@import "@picocss/pico/scss/colors";

.game-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: calc(100vw - 20px);
  margin: 0 auto;
  font-size: $text30;
  text-align: center;

  & > h1, & > h3, .action-buttons, .stats, .general-stats {
    @include simple-animation(appear)
  }

  h1 {
    font-size: $text60;
    line-height: 1;
  }

  h3 {
    font-weight: normal;
    margin-block-end: $spacing32;
    animation-delay: .5s;

    span {
      font-weight: bold;
    }
  }

  .mobile-horizontal-container {
    display: flex;
    gap: $spacing16;
    font-size: 0.75em;

    @media screen and ((orientation: portrait) or (min-height: $sm)) {
      display: contents;
    }

    @include media($sm) {
      font-size: revert;
    }

    .stats {
      animation-delay: 1s;
    }

    table {
      margin: 0;
      margin-block-start: $spacing48;
      border-spacing: 0;
      border-radius: 0.5em;
      border: 1px solid $slate-900;
      overflow: hidden;
      text-align: center;
      z-index: 1;

      th, td {
        border: 1px solid $slate-900;
        border-inline-width: 0;
        padding-block: $spacing8;
        padding-inline: $spacing12;

        @include media($md) {
          padding-block: $spacing12;
          padding-inline: $spacing24;
        }

        &:first-child {
          padding-inline-start: $spacing16;

          @include media($md) {
            padding-inline-start: $spacing32;
          }
        }

        &:last-child {
          padding-inline-end: $spacing16;

          @include media($md) {
            padding-inline-end: $spacing32;
          }
        }
      }

      thead {
        background-color: $slate-900;
      }

      tbody {
        background-color: $slate-850;

        tr {
          &.dead {
            color: $slate-550;
          }

          td {
            &.color-cell {
              padding-inline: 0;

              .player-color {
                height: $spacing24;
                aspect-ratio: 1;

                @include media($md) {
                  height: $spacing32;
                }
              }
            }

            &.name-cell {
              text-align: left;
              padding-inline-end: $spacing24;

              @include media($md) {
                padding-inline-end: $spacing48;
              }

              &.current {
                font-weight: bold;
              }
            }

            &.dead-cell {
              padding-inline: 0;

              .dead-indicator {
                display: flex;
                justify-content: center;
                align-items: center;
                height: $spacing24;
                aspect-ratio: 1;
                background-color: $cell-uncovered-mine-color;

                @include media($md) {
                  height: $spacing32;
                }

                &.alive {
                  visibility: hidden;
                }

                .mine-icon {
                  height: 80%;
                  width: 80%;
                }
              }
            }

            &.score-cell {
              padding-inline-start: $spacing8;

              @include media($md) {
                padding-inline-start: $spacing12;
              }
            }

            span.percent {
              font-size: 0.75em;
              margin-left: 0.5em;
            }
          }
        }
      }

      &.general-stats {
        animation-delay: 1.5s;

        tr {
          td:first-child {
            text-align: left;
          }
        }
      }
    }
  }

  .action-buttons {
    display: flex;
    flex-direction: column;
    gap: $spacing8;
    animation-delay: 2s;

    button {
      width: 100%;
    }

    @media screen and (min-width: $sm) {
      flex-direction: row;
      gap: $spacing16;

      button {
        width: revert;
      }
    }

    button {
      font-size: $text24;
    }
  }

  &.single-player {
    .stats {
      display: none;
    }

    .general-stats {
      animation-delay: 1s;
    }

    .action-buttons {
      animation-delay: 1.5s;
    }
  }
}
