// Colors

$cell-normal-color: oklch(52.5% 0 0);
$cell-uncovered-color: oklch(82.5% 0 0);
$cell-uncovered-mine-color: oklch(40% 0.164 29.23);

$player-red: oklch(65% 0.163 29.233);
$player-blue: oklch(65% 0.163 262.3);
$player-green: oklch(65% 0.163 145.8);
$player-yellow: oklch(65% 0.133 92.4);

$number-1-color: #0100FB;
$number-2-color: #007E01;
$number-3-color: #FD0001;
$number-4-color: #01007C;
$number-5-color: #7E0001;
$number-6-color: #00817E;
$number-7-color: #000000;
