// Colors

$cell-normal-color: oklch(55% 0 0);
$cell-uncovered-color: oklch(88.75% 0 0);
$cell-uncovered-mine-color: oklch(40% 0.164 29.23);

$player-red: oklch(65% 0.163 29.233);
$player-blue: oklch(65% 0.163 262.3);
$player-green: oklch(65% 0.163 145.8);
$player-yellow: oklch(65% 0.133 92.4);