@font-face {
    font-family: 'kanit';
    src: url('/fonts/kanit-regular-webfont.woff2') format('woff2'),
         url('/fonts/kanit-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'kanit';
    src: url('/fonts/kanit-semibold-webfont.woff2') format('woff2'),
         url('/fonts/kanit-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'kanit';
    src: url('/fonts/kanit-bold-webfont.woff2') format('woff2'),
         url('/fonts/kanit-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'kanit';
    src: url('/fonts/Kanit-BoldItalic.woff2') format('woff2'),
         url('/fonts/Kanit-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}