@use "@picocss/pico/scss/pico" with (
  $enable-semantic-container: true,
  $semantic-root-element: "#root",

  $modules: (
    // Layout
    "layout/document": true,
    "layout/landmarks": true,
    "layout/container": true,
    "layout/section": true,
    "layout/grid": true,
    "layout/scroller": false,

    // Content
    "content/link": true,
    "content/typography": true,
    "content/embedded": true,
    "content/button": true,
    "content/table": false,
    "content/code": true,
    "content/miscs": true,

    // Forms
    "forms/basics": true,
    "forms/checkbox-radio-switch": true,
    "forms/input-color": false,
    "forms/input-date": false,
    "forms/input-file": false,
    "forms/input-range": false,
    "forms/input-search": false,

    // Components
    "components/accordion": true,
    "components/card": true,
    "components/dropdown": true,
    "components/group": true,
    "components/loading": true,
    "components/modal": true,
    "components/nav": true,
    "components/progress": true,
    "components/tooltip": false,
  )
);

@import "fonts.css";
@import "@picocss/pico/scss/colors";
@import "./mixins";
@import "./constants";

:root {
  --pico-font-family: 'kanit';
  --pico-text-selection-color: rgba(178, 144, 217, 0.1875);
  --pico-primary: #b290d9;
  --pico-primary-background: #7540bf;
  --pico-primary-underline: rgba(178, 144, 217, 0.5);
  --pico-primary-hover: #c9afe4;
  --pico-primary-hover-background: #8352c5;
  --pico-primary-focus: rgba(178, 144, 217, 0.25);
  --pico-primary-inverse: #fff;
  --pico-line-height: 1.25;

  --player-red: #{$player-red};
  --player-green: #{$player-green};
  --player-blue: #{$player-blue};
  --player-yellow: #{$player-yellow};

  &.colorblind {
    --player-red: #{$player-red-colorblind};
    --player-green: #{$player-green-colorblind};
    --player-blue: #{$player-blue-colorblind};
    --player-yellow: #{$player-yellow-colorblind};
  }
}

kbd {
  background-color: transparent;
  border: 1px solid $zinc-200;
  color: $zinc-200;
  padding-block: 0.25em;
}

ul {
  padding-inline-start: 20px;
}

button > a {
  text-decoration: none;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.tippy-box[data-theme~='default'] {
  --tippy-background: rgba(0, 0, 0, 0.9);
  background-color: var(--tippy-background);
  text-align: center;

  &[data-placement^='top'] > .tippy-arrow::before {
    border-top-color: var(--tippy-background);
  }

  &[data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: var(--tippy-background);
  }

  &[data-placement^='left'] > .tippy-arrow::before{
    border-left-color: var(--tippy-background);
  }

  &[data-placement^='right'] > .tippy-arrow::before {
    border-right-color: var(--tippy-background);
  }

  .tippy-content {
    font-size: $text24;
  }
}
