@import "./constants";

@mixin player-color($context) {
  &.red {
    @if $context == "background" {
      background-color: $player-red;
    }
    @else if $context == "border" {
      border-color: $player-red;
    }
    @else if $context == "text" {
      color: $player-red;
    }
  }

  &.blue {
    @if $context == "background" {
      background-color: $player-blue;
    }
    @else if $context == "border" {
      border-color: $player-blue;
    }
    @else if $context == "text" {
      color: $player-blue;
    }
  }

  &.green {
    @if $context == "background" {
      background-color: $player-green;
    }
    @else if $context == "border" {
      border-color: $player-green;
    }
    @else if $context == "text" {
      color: $player-green;
    }
  }

  &.yellow {
    @if $context == "background" {
      background-color: $player-yellow;
    }
    @else if $context == "border" {
      border-color: $player-yellow;
    }
    @else if $context == "text" {
      color: $player-yellow;
    }
  }
}
