@import "../../../styles/constants";

.about-dialog {
  article > div {
    display: flex;
    gap: $spacing16;

    p {
      text-align: justify;
      hyphens: auto;
    }

    img {
      width: $spacing192;
      height: $spacing192;
      border-radius: $spacing96;
    }

    span + span::before {
      content: '•';
      margin-inline: $spacing8;
    }
  }
}
