@import "../../../styles/constants";

.about-dialog {
  article > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing12;

    @media screen and (orientation: landscape), screen and (min-width: $md) {
      flex-direction: row;
      align-items: flex-start;
      gap: $spacing16;
    }

    p {
      text-align: justify;
      hyphens: auto;
    }

    img {
      width: $spacing128;
      height: $spacing128;
      border-radius: $spacing64;

      @media screen and (orientation: landscape), screen and (min-width: $md) {
        width: $spacing192;
        height: $spacing192;
        border-radius: $spacing96;
      }
    }

    span + span::before {
      content: '•';
      margin-inline: $spacing8;
    }
  }
}
