@import "../../../../styles/constants";
@import "../../../../styles/mixins";

.scoreboard-element {
  position: relative;

  @include player-color("text");

  .scoreboard-element-label {
    font-size: $text12;
    padding-block: 0.125em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.highlight {
      font-weight: bold;
    }
  }

  .scoreboard-element-content {
    font-size: $text20;
  }

  .scoreboard-element-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 40%;
  }
}

.player-scoreboards .scoreboard-element {
  flex-grow: 1;

  @media screen and (orientation: portrait) and (max-width: $md) {
    min-width: 40%;
  }
}

.keyboard .scoreboard-element {
  padding-block: $spacing2;

  .scoreboard-element-label {
    font-size: $text16;
  }

  .scoreboard-element-content {
    font-size: $text30;
  }
}