@import "../../../../styles/constants";
@import "../../../../styles/player-colors";

.scoreboard-element {
  position: relative;
  padding-block: $spacing2;

  @include player-color("text");

  .scoreboard-element-label {
    font-size: $text12;
    padding-block: 0.125em;
  }

  .scoreboard-element-content {
    font-size: $text24;
  }

  .scoreboard-element-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 40%;
  }
}

.keyboard .scoreboard-element {
  .scoreboard-element-label {
    font-size: $text16;
  }

  .scoreboard-element-content {
    font-size: $text30;
  }
}