@import "../../styles/constants";
@import "../../styles/mixins";

.how-to-play-page {
  margin: 0 auto;
  max-width: min(calc(100% - 20px), $md);
  text-align: justify;
  hyphens: auto;
  padding: $spacing8;

  @include media($md) {
    padding: $spacing16;
  }

  h1, h1 + p {
    text-align: center;
  }

  .bonus-icon {
    width: 2em;
    height: 2em;
    margin-inline-end: 0.5em;
    background-color: $cell-bonus-color;
  }

  .action-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: $spacing8;

    @media screen and (orientation: landscape) and (min-width: $md) {
      flex-direction: row;
    }

    a, button {
      flex: 1 1 33%;
      width: 100%;
    }
  }
}