@import "../../styles/mixins";
@import "../../styles/constants";
@import "@picocss/pico/scss/colors";

.game-page {
  width: 100vw;
  height: 100vh;
  outline: none;
  position: relative;
  @include simple-animation(appear);

  &.disappearing {
    @include simple-animation(disappear)
  }

  .game-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .game-layout {
      display: grid;
      grid-template-rows: min-content min-content 1fr 1fr;
      grid-template-columns: max-content 150px;
      grid-template-areas:
        "defeated-message defeated-message"
        "board controls-on-left-panel"
        "board scoreboard"
        "board controls";
      justify-items: center;
      align-items: start;

      &.controls-on-left {
        grid-template-areas:
          "defeated-message defeated-message"
          "controls-on-left-panel board"
          "scoreboard board"
          "controls board";
        grid-template-columns: 150px max-content;
      }

      @media screen and (orientation: portrait) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &.keyboard {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .defeated-player-message {
        grid-area: defeated-message;
        margin-block: $spacing2;
        text-align: center;
        background-color: $slate-850;
        width: 100%;

        &.hidden {
          display: none;
        }

        a {
          margin-inline-start: $spacing12;
        }
      }

      .controls-on-left-panel {
        grid-area: controls-on-left-panel;

        @media screen and (orientation: portrait) {
          display: none;
        }

        label, label > input {
          font-size: 0.75em;
          margin-block: 0;
        }
      }
    }
  }
}
