@import "../../styles/mixins";
@import "../../styles/constants";
@import "@picocss/pico/scss/colors";

.game-page {
  width: 100vw;
  height: 100vh;
  outline: none;
  position: relative;
  @include simple-animation(appear);

  &.disappearing {
    @include simple-animation(disappear)
  }

  .device-orientation-prompt {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1;
    background-color: $slate-950;
    align-items: center;

    @media screen and (orientation: landscape) {
      display: none;
    }

    div {
      text-align: center;
      font-size: $text60;
    }
  }

  .game-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .game-layout {
      display: grid;
      grid-template-rows: min-content 1fr;
      grid-template-columns: max-content 150px;
      grid-template-areas:
        "defeated-message defeated-message"
        "board scoreboard"
        "board controls";

      &.keyboard {
        display: block;
      }

      .defeated-player-message {
        grid-area: defeated-message;
        margin-block: $spacing2;
        text-align: center;
        background-color: $slate-850;

        &.hidden {
          display: none;
        }

        a {
          margin-inline-start: $spacing12;
        }
      }
    }
  }
}
