@import "../../../styles/constants";
@import "@picocss/pico/scss/colors";

.steering-board {
  grid-area: controls;
  align-self: end;

  display: flex;
  flex-direction: column;

  .buttons {
    display: flex;
    flex: 1 0 calc(100% / 3);
    flex-wrap: wrap;
    gap: $spacing4;
    justify-content: center;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30%;
      aspect-ratio: 1;
      padding: $spacing2;
      border: none;
      outline: none;
      background-color: var(--pico-primary-background);
      transition-duration: 0s;

      &.vertical {
        flex-direction: column;

        svg.flag-icon {
          margin-inline-end: 10%;
        }
      }

      &.activate-flag-button {
        &.inactive {
          background-color: $slate-300;
        }
      }

      &.dummy {
        visibility: hidden;
      }

      svg {
        height: 50%;
        width: 50%;

        &.flag-icon.standalone {
          height: 70%;
          width: 70%;
        }
      }
    }
  }
}

.keyboard .steering-board {
  display: none;
}
