@import "../../styles/constants";
@import "@picocss/pico/scss/colors";

.player-list-wrapper {
  width: min(calc(100% - 20px), $sm);
  border: 1px solid $zinc-650;
  border-radius: $spacing8;
  font-size: $text18;

  @media screen and (min-width: $md) {
    font-size: $text24;
  }

  &.highlight {
    border-color: $violet
  }

  .player-list {
    padding: $spacing8 $spacing16;

    &.pad {
      padding-block-start: 0;
      margin-block-start: -$spacing8;
    }

    .entry {
      display: flex;
      align-items: center;
      gap: $spacing12;
      height: $spacing48;

      @media screen and (min-width: $md) {
        height: $spacing64;
      }

      .name {
        opacity: 0;
        transition: opacity .2s;

        &.has-name {
          opacity: 1;
        }

        &.own {
          font-weight: bold;
        }
      }
    }
  }
}