@import "../../styles/constants";
@import "../../styles/mixins";
@import "@picocss/pico/scss/colors";

.queue {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: min(calc(100% - 20px), $lg);
  margin: 0 auto;

  &.disappearing {
    @include simple-animation(disappear)
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60vh;
    width: 100%;
    gap: $spacing32;

    @media screen and ((orientation: portrait) or (min-height: $sm)) {
      flex-direction: column;
    }

    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      h1 {
        text-align: center;

        @include media($sm) {
          font-size: 1.5em;
        }

        @include media($md) {
          font-size: 2em;
        }
      }

      progress {
        display: block;
        line-height: 0;
      }

      .leave-queue-link {
        display: none;

        @media screen and ((orientation: portrait) or (min-height: $sm)) {
          display: block;
        }
      }
    }

    .tips-wrapper {
      display: flex;
      flex-direction: column;
      gap: $spacing12;

      .leave-queue-link {
        align-self: center;

        @media screen and ((orientation: portrait) or (min-height: $sm)) {
          display: none;
        }
      }
    }
  }

  button {
    margin-block-start: $spacing16;
  }
}