@import "../../../styles/constants";
@import "@picocss/pico/scss/colors";
@import "../../../styles/mixins";

@mixin flex-scoreboard {
  display: flex;
  align-items: center;
  min-height: 2.5rem;

  @include media($md) {
    min-height: 3.5rem;
  }

  .stopwatch, .mines-counter {
    flex-basis: 3.5em;

    @include media($md) {
      flex-basis: 5em;
    }
  }

  .player-scoreboards {
    flex-grow: 1;
    flex-wrap: nowrap;
  }

  .separator {
    display: none;

    @media screen and (min-width: $md) {
      display: block;
      width: 1px;
      height: 2.5rem;
      background-color: $cell-uncovered-color;
    }
  }
}

.scoreboard-wrapper {
  grid-area: scoreboard;
  width: 100%;

  .scoreboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "stopwatch mines-counter";
    grid-auto-flow: row;
    text-align: center;
    background-color: black;

    @media screen and (orientation: portrait) {
      @include flex-scoreboard;
    }

    .stopwatch {
      grid-area: stopwatch;
    }

    .mines-counter {
      grid-area: mines-counter;
    }

    .player-scoreboards {
      grid-column: 1 / 3;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }
}

.keyboard .scoreboard-wrapper .scoreboard {
  @include flex-scoreboard;
}
